.video-card{
    width: 100%;
    cursor: pointer;
}

.video-img{
    width: 100%;
}

.video-heading{
    display: flex;
    justify-content: space-between;
    position: relative;
}


.video-title{
    padding-left: 10px;
    inline-size: 300px;
    overflow-wrap: break-word;
}

.list-dropdown{
    z-index: 5;
    position: absolute;
    right: 1rem;
    top: 1.6rem;
    width: 50%;
    background-color: white;
}

.dropdown-icon
{
    position: relative;
    top: 8px;
    font-size: .6rem;
    margin-right: 4px;
}

.list-dropdown-item{
    padding: 2px;
    margin: 4px 0;
}

.list-dropdown-item:hover{
    background-color: var(--light-bg);
    width: 100%;
}

.video-footer{
    display: flex;
    padding-left: 10px;
}