.video-categories-container{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    gap: 1%;
}

.category{
    background-color: var(--light-bg);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.category-active {
    background-color: black;
    color: #ffff;
  }

.video-listing{
    margin-top: 4rem;
    padding: 0 4rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(330px,1fr));
    justify-content: center;
    justify-items: center;
}

.error-display{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
}


@media screen and (max-width: 720px) {
    .category{
        font-size: .8rem;
        margin: 0 .3rem;
    }
  }

