.playlist-title-page{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.playlists-container{
    display: flex;
    justify-content: center;
    margin-top: 1.2rem;
    cursor: pointer;
    gap: 2rem;
    flex-wrap: wrap;
}

.playlist-cancel-icon{
    position: absolute;
    top: 6%;
    left: 10rem;
}
