.navbar{
  background-color: var( --white-color);
  position: sticky;
  top: 0%;
  min-height: 4rem;
  box-shadow:  1px 1px  var(--light-bg);
  z-index: 4;
}

.navbar-title{
  position: absolute;
  top: 16px;
  left:2.8rem;
  padding-left: 20px;
  font-size: 1.8rem;

}

.brandIcon-img{
  position: relative;
  top: 4px;
  height: 2rem;
}

.menu-items{
  transform:translateX(-150%);
  transition:0.3s ease-in-out;
  position:absolute;
  left: -.9rem;
  top:1.6rem;
  background-color: var( --white-color);
  width:240px;
  height:900px;
}

.menu-icon{
  position: relative;
  top: 2px;
  margin-right: 10px;
}

.menu-link{
  margin-top: 1rem;
  display: flex;
  font-size: 1.4rem;
  padding:0.4rem 0.8rem;

}

.menu-link:hover{
  background: var(--light-bg);
}

.hamburger-menu input[type="checkbox"]:checked~ .menu-items{
  transform:translateX(0%);
}

.hamburger-menu {
  position:relative;
  z-index: 5;
}

.hamburger-menu input[type="checkbox"]{
 display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -6px;
  left: -6px;
  cursor: pointer;
  opacity: 0; 
  z-index: 2; 
}

.hamburger-lines{
  width:32px;
  height:32px;
  position:absolute;
  top:-5px;
  left:8px;
  display:flex;
  flex-direction:column;
}

.hamburger-lines .line{
 display: block;
  width: 28px;
  height: 4px;
  margin-bottom: 5px;
  background: var(--light-black);
  border-radius: 4px;
  z-index: 1;
}

.navbar-links{
    font-size: 1.4rem;
}

.search-bar{
  border: none;
  background-color: transparent;
  width: 100%;
  outline: 0px;
}

.search-box{
  display: flex;
  background-color: var(--white-color);
  border: 1px solid;
  border-radius: 5px;
  padding: .5rem 1.8rem;
  margin: 10px .9rem 0 .9rem;
  width:40%;
}


@media (max-width:750px) {
  .navbar-title{
    display: none;
  }
}
